::selection {
background:#ffba00; 
color:#fff;
}
::-moz-selection {
background:#ffba00; 
color:#fff;
}
::-webkit-selection {
background:#ffba00; 
color:#fff;
}
.header{
	width: 100%;
  	height: 72px;
  	line-height: 72px;
  	background: #171717;
  	z-index: 99;
  	position: absolute;
  	top: 0;
}
.space40{
	width: 100%;
	height: 40px;
	clear: both;
}
.header_logo {
  float: left;
  margin-left: 40px;
  margin-top: 15px;
}
.header_right {
  float: right;
  margin-top: 20px;
  margin-right: 40px;
}
.header_right .header_PC a {
  width: 104px;
  height: 34px;
  display: block;
  background: url(../img/download.png) no-repeat;
}
.mainbg{
	width: 100%;
	min-width: 1200px;
	height: 1080px;
	margin: 0 auto;
	background-position:center center;
	background: url(../img/bgimg.jpg) no-repeat center center;
}
.main1200{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
.titleimg{
	width: 1200px;
	height: 504px;
	background: url(../img/title.jpg);
	position: relative;
}
.button{
	display: block;
	width: 300px;
	height: 162px;
	background: url(../img/button.png);
	position: absolute;
	left: 450px;
	top: 360px;
	-webkit-animation:gogogo 2s infinite linear ;
	z-index: 999;
}
.niuniu{
	width: 1048px;
	height: 279px;
	position: absolute;
	left: 75px;
	top: 330px;
	background: url(../img/niuniu.png);
	
}
.qunhao{
	font-family: "微软雅黑",Verdana, 宋体, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bolder;
	color: #fff;
	-webkit-text-stroke: 0.5px #22246c;
	text-shadow: 1px 0 0 #22246c, 0 1px 0 #22246c, 
    			0 -1px 0 #22246c, -1px 0 0 #22246c, 
    			1px 0 1px #22246c, 0 1px 1px #22246c, 
    			0 -1px 1px #22246c, -1px 0 1px #22246c;
	position: absolute;
	left: 385px;
	bottom: 75px;
}
.tzbmtxt{
	width: 895px;
	height: 85px;
	background: url(../img/textbg.png) no-repeat;
	position: absolute;
	top: 550px;
	left: 150px;
	text-align: center;
	font-size: 16px;
	font-weight: 900;
	color: #fff;
	padding-top: 20px;
	letter-spacing:1px;
	text-shadow: 2px 2px #000;
	font-family: "微软雅黑",Verdana, 宋体, Helvetica, sans-serif;
}
.tzbmtxt p{
	margin: 5px auto;
}
.cd9ba24{
	color: #ebc925;
}
.wztxt{
	width: 680px;
	height: 28px;
	position: absolute;
	top: 640px;
	left: 270px;
}
.tedian{
	width: 900px;
	height: auto;
	position: absolute;
	top: 680px;
	left: 150px;
	margin-top: 20px;
}
.tedian li{
	width: 300px;
	text-align: center;	
	float: left;
	position: relative;
}
.tdimg{
	width: 208px;
}
.tdtd{
	width: 40px;
	height: 20px;
	background: #151636;
	position: absolute;
	border-radius: 22px;
	border: 2px solid #fff;
	padding: 10px 0;
	text-align: center;
	color:#fff ;
	top: 10px;
	left: 50px;
}
.tdtitle{
	width: 240px;
	padding: 10px 5px;
	background: #EBC925;
	position: absolute;
	left: 20px;
	bottom: 0px;
	border: 2px solid #f77c18;
	color: #1a26b6;
	font-size: 16px;
	font-weight: 800;
	letter-spacing:1px;
	font-family: "微软雅黑",Verdana, 宋体, Helvetica, sans-serif;
	border-top-left-radius: 3em;
	border-top-right-radius: 3em;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}
.tdtxt{
	width: 250px;
	color: #fff;
	position: absolute;
	left: 20px;
	margin-top: 10px;
	font-size: 14px;
	font-family: "微软雅黑",Verdana, 宋体, Helvetica, sans-serif;
	font-weight: 400;
	text-align: left;
	text-shadow: 1px 0 0 #22246c, 0 1px 0 #22246c, 
    			0 -1px 0 #22246c, -1px 0 0 #22246c, 
    			1px 0 1px #22246c, 0 1px 1px #22246c, 
    			0 -1px 1px #22246c, -1px 0 1px #22246c;
    line-height:1.5;
}
footer{
	margin: 0 auto;
	color: #fff;
	font-size: 12px;
	font-family: "微软雅黑",Verdana, 宋体, Helvetica, sans-serif;
	font-weight: 400;
	text-align: center;
	padding-top: 540px;
}
footer a{
	color: #fff;
}